<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     data-namespace-typo3-fluid="true">



  <f:layout name = "Content"/>

  <f:section name="Configuration">
    <flux:form id="mainslider" description="mainslider section" label="Mainslider">
      <flux:form.option name="group" value="scaffold" />
      <flux:form.option name="Fluidcontent" value="{sorting: 100}"/>
      <flux:field.inline.fal name="images" label="Bilder for slider" minItems="1" maxItems="5"/>
    </flux:form>
  </f:section>

  <f:section name="Preview">
    <p>Mainslider</p>
    <div style="border-bottom: 1px solid#000; width: 100%"></div>


  </f:section>


  <f:section name="Main">

    <section id="hero">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <f:for each="{v:content.resources.fal(field: 'images')}" as="image" iteration="iterator">
            <div class="carousel-item {f:if(condition: '{iterator.cycle} ==1', then: 'active')} ">
              <f:image treatIdAsReference="1" src="{image.id}" title="{image.title}" alt="{image.alternative}" style="background-image"/>
              <div class="carousel-container">
                <div class="container">
                  <h2 class="animate__animated animate__fadeInDown">{image.title}</h2>
                  <p class="animate__animated animate__fadeInUp">{image.alternative}</p>
                  <a href="{image.link}" target="_blank" class="btn-get-started animate__animated animate__fadeInUp scrollto">{image.title}</a>
                </div>
              </div>
            </div>
          </f:for>
        </div>
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </section>

  </f:section>
</div>